@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@font-face {font-family: IndieFlower;
  src: url("IndieFlower.ttf");
}
@font-face {font-family: Raleway;
  src: url("Raleway-VariableFont_wght.ttf");
}
@font-face {font-family: Lato;
  src: url("Lato-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Include padding and border in element's total width and height */
}

html{
  font-size: 1.3rem;
}

body{
  font-family: lato;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #08b57b;
  font-family: Raleway;
  min-height: 50vh;
  color: #fff;
  /* Adjust font size relative to viewport width */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000;
  min-height: 8vh;
  /* Reduce header height for smaller screens */
  width: 100%;
  /* Adjust font size relative to viewport width */
}


.logo {
  width: 14vw;
  /* Adjust logo width relative to viewport width */
  height: 8vh;
  display: flex;
  font-size: 0.7em;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.logo i {
  color: #000;
}


.intro-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  /* Adjust width relative to viewport width */
  text-align: center;
  /* Adjust margin relative to viewport width */
}

.h-text {
  font-size: 2.6em;
  /* Adjust font size relative to viewport width */
  color:#fff;
}

.intro-paragraph {
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  width: 70%;
  /* Adjust width relative to parent container */
  max-width: 16em;
  /* Set maximum width */
  margin: 0 auto;
  /* Center horizontally */
  font-size: 1.3em;
  /* Adjust font size relative to viewport width */
  background-color: #008006;
}

header h1 {
  font-size: 4em;
  /* Adjust font size relative to viewport width */
}

.header-paragraph {
  font-size: 1.4em;
  /* Adjust font size relative to viewport width */
}

.nl {
  display: flex;
  list-style-type: none;
  width: 85%;
  /* Adjust width relative to parent container */
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  /* Adjust font size relative to viewport width */
}

.nl a {
  color: #fff;
  text-decoration: none;
}

.one:hover, .two:hover, .three:hover {
  background-color: rgba(48, 94, 3, 0.7);
  height: 8vh;
  width: 14vw;
}

.nl li {
  flex: 1;
  /* Distribute list items evenly */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 70%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1.5px solid #fff;
  color: #fff;
  font-size: 0.9em;
  /* Adjust font size relative to viewport width */
}

::placeholder {
  color: #fff;
  font-size: 0.9em;
}

.main-section {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #dae7e3;
}

.sections {
  display: flex;
  flex-wrap:wrap;
  background-color: #dae7e3;
  height: 70vh;
  /* Adjust height relative to viewport height */
  justify-content: space-evenly;
  align-items: center;
  font-family: IndieFlower;
  width: 100%;
}

.sections div {
  width: 30%;
  /* Adjust width relative to parent container */
  height: 90%;
  /* Adjust height relative to parent container */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
  font-size: 1.2em;
  /* Adjust font size relative to viewport width */
}

.sections a {
  text-decoration: none;
  color: #008006;
  padding: 0.6em 1.2em;
  background-color: #f7fff0;
  border-radius: 1.5em;
  text-align: center;
}

.sections a:hover {
  color: rgba(145, 243, 47, 0.8);
}

.section-1 {
  background-image: url('img/portfolio-03.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-2 {
  background-image: url('img/portfolio-04.jpg');
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
}

.section-3 {
  background-image: url('img/portfolio-09.jpg');
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
}

.nl i {
  padding-right: 0.1em;
}

/* Media Queries for Responsive Design */

@media screen and (max-width: 400px) {
  nav{
  font-size: 0.5em;
}

  .intro-heading {
    font-size: 1.3em;
  }
  
  .h-text {
    font-size: 1.8em;
  }
  
  .intro-paragraph {
    font-size: 0.7em;
  }

  ::placeholder{
    font-size: 0.82em;
  }
  
  header h1 {
    font-size: 2.1em;
  }
  
  .header-paragraph {
    font-size: 1em;
  }
  
  
  
  .search-input {
    font-size: 1em;
  }

  .main-section{
    min-height: 100vh;
    min-height: 100svh;
  }

  .sections{
    display: flex;
    height: 140vh;
    flex-direction: column;
  }
  
  .sections div {
    height: 27%;
    width: 70%
  }
}

@media only screen and (min-width: 401px) and (max-width: 800px) {
  nav{
    font-size: 0.7em;
  }
  
    .intro-heading {
      font-size: 1.9em;
    }
    
    .h-text {
      font-size: 1.6em;
    }
    
    .intro-paragraph {
      font-size: 0.9em;
    }
  
    ::placeholder{
      font-size: 0.85em;
    }
    
    header h1 {
      font-size: 2.1em;
    }
    
    .header-paragraph {
      font-size: 1em;
    }
    .search-input {
      font-size: 1em;
    }
  
    .main-section{
      min-height: 100vh;
      min-height: 100svh;
    }
  
    .sections{
      display: flex;
      height: 140vh;
      flex-direction: column;
    }
    
    .sections div {
      height: 27%;
      width: 70%
    }
}

@media only screen and (min-width: 801px) and (max-width: 1024px){
  nav{
    font-size: 1.3em;
  }

  .intro-heading {
    font-size: 2.4em;
  }

   .h-text {
      font-size: 2.2em;
    }

    .intro-paragraph {
      font-size: 1.7em;
    }

    ::placeholder{
      font-size: 0.9em;
    }

    header h1 {
      font-size: 4em;
    }

    .header-paragraph {
      font-size: 1.4em;
    }
    .search-input {
      font-size: 0.9em;
    }
    .main-section{
      min-height: 100vh;
      min-height: 100svh;
    }
    .sections{
      display: flex;
      height: 140vh;
      flex-direction: column;
    }
    
    .sections div {
      height: 27%;
      width: 70%
    }
}